workflows/KBYG___Send_as_Email_Attachment.json
{
  "name": "KBYG - Send as Email Attachment",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -80,
        240
      ],
      "id": "1b98e17f-4be1-4fc4-9534-854349c27591",
      "name": "When clicking ‘Test workflow’",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "Browser Rest Apis",
        "operation": "Pdf",
        "url": "={{ $json.constants.PROVIDER_PORTAL_ROOT_URL }}/public/Know-Before-You-Go-Report/?id={{ $json.leadID }}",
        "waitForSelector": {
          "items": {
            "selector": "#kbyg-lead-detail-need"
          }
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-browserless.browserless",
      "typeVersion": 2,
      "position": [
        760,
        60
      ],
      "id": "b0af5a33-c61f-4b48-9d31-7f7a708dac15",
      "name": "Browserless",
      "credentials": {
        "browserlessApi": {
          "id": "PVUY5o4IkPy3suAD",
          "name": "Browserless Credentials account"
        }
      }
    },
    {
      "parameters": {
        "toRecipients": "={{ $('Edit Fields').item.json.email }}",
        "subject": "Know Before You Go Report",
        "bodyContent": "=Attached is a PDF copy of the <a href=\"{{ $('Global Constants').item.json.constants.PROVIDER_PORTAL_ROOT_URL }}/Public/Know-Before-You-Go-Report?id={{ $('Global Constants').item.json.leadID }}\">Know Before You Go report</a> that you requested.\n\nKind regards,\nProperty.com",
        "additionalFields": {
          "attachments": {
            "attachments": [
              {
                "binaryPropertyName": "data"
              }
            ]
          },
          "bodyContentType": "html"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        1200,
        60
      ],
      "id": "a7a6d3c9-cb81-4e3f-a9c6-1861ff8320fb",
      "name": "Microsoft Outlook",
      "webhookId": "8f7d0bb1-7030-4ec8-82c0-466e70e76c11",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "g2b5nz35NPwE3Jj3",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n$input.first().binary.data.fileName = \"KBYG_Report_\" + $('Edit Fields').first().json.leadID + \".pdf\";\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        980,
        60
      ],
      "id": "9bab2872-57d8-4474-b1cb-3146ea74f16a",
      "name": "Code"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kbyg/email",
        "options": {
          "rawBody": false
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "0ca5c533-55a2-4915-982d-7a9ffc5c5f72",
      "name": "Webhook",
      "webhookId": "67ddbada-5ebf-411c-9247-5cfd53dfb293"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-globals.globalConstants",
      "typeVersion": 1,
      "position": [
        540,
        60
      ],
      "id": "8b61955d-14bb-4e88-951b-a14772b4137d",
      "name": "Global Constants",
      "credentials": {
        "globalConstantsApi": {
          "id": "XkalIPUhZuA2wvhN",
          "name": "Global Constants account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8d7c8e1c-70ff-462c-bda8-fbfdaf03a604",
              "name": "leadID",
              "value": "={{ $json.body.leadID }}",
              "type": "string"
            },
            {
              "id": "84081789-ea51-486e-8221-f54f54ac0900",
              "name": "email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        60
      ],
      "id": "24d0a523-2597-4c4d-a420-e573fe35c91d",
      "name": "Edit Fields"
    }
  ],
  "pinData": {
    "When clicking ‘Test workflow’": [
      {
        "json": {}
      }
    ],
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n-prod.property.com",
            "x-real-ip": "72.222.232.219",
            "x-forwarded-for": "72.222.232.219",
            "x-forwarded-proto": "https",
            "connection": "upgrade",
            "content-length": "69",
            "sec-ch-ua-platform": "\"Windows\"",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/133.0.0.0 Safari/537.36",
            "accept": "application/json, text/javascript, */*; q=0.01",
            "sec-ch-ua": "\"Not(A:Brand\";v=\"99\", \"Google Chrome\";v=\"133\", \"Chromium\";v=\"133\"",
            "content-type": "application/x-www-form-urlencoded; charset=UTF-8",
            "sec-ch-ua-mobile": "?0",
            "origin": "https://contractor.property.com",
            "sec-fetch-site": "same-site",
            "sec-fetch-mode": "cors",
            "sec-fetch-dest": "empty",
            "referer": "https://contractor.property.com/",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9"
          },
          "params": {},
          "query": {},
          "body": {
            "email": "gary@property.com",
            "leadID": "E2F6B447-EEE7-EF11-B541-7C1E52D95E70"
          },
          "webhookUrl": "https://n8n-prod.property.com/webhook/kbyg/email",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Browserless": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Microsoft Outlook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Global Constants": {
      "main": [
        [
          {
            "node": "Browserless",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Global Constants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "42b36656-7b84-4cb0-b46c-aa04b0f11b76",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "86d5ee5e165dc6e8f9ad7adc81ef52feff96b00a66cb631ede0c9e502f9ab412"
  },
  "id": "fCVKqOHdL7bzPz5A",
  "tags": [
    {
      "createdAt": "2025-02-27T18:41:57.547Z",
      "updatedAt": "2025-02-27T18:41:57.547Z",
      "id": "5baJZlFsVCeJfHye",
      "name": "KBYG"
    }
  ]
}
