workflows/SMS_Responder___Memorize.json
{
  "name": "SMS Responder - Memorize",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "memorize",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -140,
        -80
      ],
      "id": "6d5cc01e-d093-42d7-8691-1a45b18d9207",
      "name": "Webhook",
      "webhookId": "47829f5c-49df-4ab2-915e-e39652482e14"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-globals.globalConstants",
      "typeVersion": 1,
      "position": [
        80,
        -80
      ],
      "id": "a3eaa652-7007-43d3-b8b4-a71084504916",
      "name": "Global Constants",
      "credentials": {
        "globalConstantsApi": {
          "id": "vIUTwCb1Kva2Iq7e",
          "name": "Global Constants account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "memories",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "chat_id",
              "condition": "eq",
              "keyValue": "={{ $json.body.chat_id }}"
            },
            {
              "keyName": "key",
              "condition": "eq",
              "keyValue": "={{ $json.body.key }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        300,
        -80
      ],
      "id": "50edcb2f-4b10-4abe-830e-2eb22b872890",
      "name": "Supabase",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "oDZ5EdRotsnTnAib",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "memories",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "chat_id",
              "fieldValue": "={{ $('Webhook').item.json.body.chat_id }}"
            },
            {
              "fieldId": "key",
              "fieldValue": "={{ $('Webhook').item.json.body.key }}"
            },
            {
              "fieldId": "value",
              "fieldValue": "={{ $('Webhook').item.json.body.value }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        500,
        -80
      ],
      "id": "6b1872da-15d8-46db-8b36-9bbc0feaa9bc",
      "name": "Supabase1",
      "credentials": {
        "supabaseApi": {
          "id": "oDZ5EdRotsnTnAib",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Global Constants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Global Constants": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a01d4902-e04a-43ed-8528-41f9036dd48e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f876f250fa5a115d8d07a94200dc89936ebeaf5e3f23d504444e5e3ce0a4587b"
  },
  "id": "aRe3Hgkf2BThWvO5",
  "tags": [
    {
      "createdAt": "2025-03-05T17:09:03.666Z",
      "updatedAt": "2025-03-05T17:09:03.666Z",
      "id": "HN3IibgUw3BIOuEX",
      "name": "POC"
    }
  ]
}
