workflows/SMS_Responder___Create_Lead.json
{
  "name": "SMS Responder - Create Lead",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "create-lead",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "50a52a0b-ff41-4e28-ba35-d56a578c1e56",
      "name": "Webhook",
      "webhookId": "24a4436b-1ade-4d0f-beec-e5a481ebc6f4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-globals.globalConstants",
      "typeVersion": 1,
      "position": [
        220,
        0
      ],
      "id": "8acf4524-7add-48fe-b52a-e9f845b2104f",
      "name": "Global Constants",
      "credentials": {
        "globalConstantsApi": {
          "id": "XkalIPUhZuA2wvhN",
          "name": "Global Constants account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.constants.PROPERTY_API_POST_LEAD }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"pcom_providertype\" : \"{{ $json.body.pcom_providertype }}\",\n  \"pcom_contactstreet1\": \"{{ $json.body.pcom_contactstreet1 }}\",\n  \"pcom_contactpostalcode\": \"{{ $json.body.pcom_contactpostalcode }}\",\n  \"pcom_source\": \"SMS\",\n  \"pcom_needlevel\": \"434940001\",\n  \"pcom_attomid\": null,\n  \"pcom_name\": \"New Lead\", \n  \"pcom_receivedon\": \"{{ $json.body.pcom_receivedon }}\",\n  \"pcom_serviceproviderid\": \"{{ $json.body.pcom_serviceproviderid }}\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        0
      ],
      "id": "b6e2499a-4666-45d2-9053-9709f1707d30",
      "name": "HTTP Request (POST Lead)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://n8n{{ $('Global Constants').item.json.constants.ENVIRONMENT_SUFFIX }}.property.com/webhook/kbyg/email",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "gary@property.com"
            },
            {
              "name": "leadID",
              "value": "={{ $json.lead.pcom_accountleadid }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        0
      ],
      "id": "d1cc9b80-afb3-4833-a7bb-db570f9ba035",
      "name": "HTTP Request (POST KBYG Email)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://n8n{{ $('Global Constants').item.json.constants.ENVIRONMENT_SUFFIX }}.property.com/webhook/memorize",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $('Webhook').item.json.body.session_id }}"
            },
            {
              "name": "key",
              "value": "ATTOM_ID"
            },
            {
              "name": "value",
              "value": "={{ $json.propertyAttributes.attom_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        -180
      ],
      "id": "7dfedfb5-35ea-4399-ab28-a895e1c1ec68",
      "name": "HTTP Request (Remember Attom ID)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-prod.property.com/webhook/MentionPropertyDetails",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "from",
              "value": "={{ $('Webhook').item.json.body.session_id }}"
            },
            {
              "name": "propertyAttributes",
              "value": "={{ $json.propertyAttributes }}"
            },
            {
              "name": "propertyPermits",
              "value": "={{ $json.permits }}"
            },
            {
              "name": "to",
              "value": "={{ $('Webhook').item.json.body.to }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        200
      ],
      "id": "3c83239a-b82b-4730-ac79-aa05b0e95ac7",
      "name": "HTTP Request (Mention Property Details)"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Global Constants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Global Constants": {
      "main": [
        [
          {
            "node": "HTTP Request (POST Lead)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request (POST Lead)": {
      "main": [
        [
          {
            "node": "HTTP Request (POST KBYG Email)",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request (Remember Attom ID)",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request (Mention Property Details)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8c726c91-9f8e-433b-9768-c524b5ded625",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "86d5ee5e165dc6e8f9ad7adc81ef52feff96b00a66cb631ede0c9e502f9ab412"
  },
  "id": "hYsecy74iha7sInu",
  "tags": [
    {
      "createdAt": "2025-03-06T18:50:30.603Z",
      "updatedAt": "2025-03-06T18:50:30.603Z",
      "id": "hV8AD6zgRGkzRmy8",
      "name": "POC"
    }
  ]
}
